<div class="container">
    <h2>Registro de CampiAmigo</h2>
    <div class="img">
      <img src="../../../../../assets/img/personasCapesinas.png" alt="Registro CampiAmigo">
    </div>
    <div class="info">
      <p>
        Para completar tu registro como CampiAmigo se realizará un proceso en dos etapas. Primero, se efectuará un
        registro digital en el que se recopilarán y verificarán tus datos. Posteriormente, se realizará un registro
        personal para revisar en detalle tu información. Una vez finalizado el registro personal, se llevará a cabo
        un estudio y, en un plazo máximo de 10 días, recibirás una respuesta para saber si puedes aplicar a la web
        app o si se requieren modificar algunos datos.
      </p>
      <!-- El botón se deshabilita si el usuario ya está registrado -->
      <button (click)="irAUbicacion()" class="learn-more">Aceptar</button>
    </div>
  </div>
  