<div *ngIf="showModal" class="modal-overlay">
    <div class="modal-content">
      <div class="modal-image-container">
        <!-- Se agregan atributos width, height y fetchpriority -->
        <img src="../../../../assets/img/inicio/LP-removebg-preview.png" class="modal-image" alt="Loading"
          loading="eager" width="200" height="200" fetchpriority="high">
      </div>
      <div class="lava-lamp" aria-hidden="true">
        <div class="bubble"></div>
        <div class="bubble1"></div>
        <div class="bubble2"></div>
      </div>
    </div>
  </div>