/* RUTA: src/app/features/admin/views/world-editor/world-editor/scene/scene.component.css */
:host {
    display: block;
    /* Ocupa todo el espacio que su contenedor padre le da */
    width: 100%;
    height: 100%;
    overflow: hidden; /* Evita barras de scroll inesperadas */
}

/* El canvas y su contenedor deben llenar el componente host */
.scene-container,
canvas {
    width: 100%;
    height: 100%;
    display: block; /* Importante para evitar espacios extra */
}