:host {
    display: block;
    /* Ocupa todo el espacio que su contenedor padre le da */
    width: 100%;
    height: 100%;
    overflow: hidden; /* Evita barras de scroll inesperadas */
}

/* El contenedor y el canvas deben llenar el componente host para que el ResizeObserver funcione correctamente. */
.scene-container,
canvas {
    width: 100%;
    height: 100%;
    display: block; /* Importante para evitar espacios extra */
}